interactions:
- request:
    body: '{"jsonrpc": "2.0", "method": "web3_clientVersion", "params": [], "id":
      0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://mainnet.infura.io/v3/[REDACTED]
  response:
    body:
      string: '{"jsonrpc":"2.0","id":0,"result":"Geth/v1.16.7-stable-b9f3a3d9/linux-arm64/go1.24.9"}

        '
    headers:
      Content-Type:
      - application/json
      X-Send-To-Many:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_getTransactionByHash", "params": ["0x0000000000000000000000000000000000000000000000000000000000000000"],
      "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://mainnet.infura.io/v3/[REDACTED]
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":null}

        '
    headers:
      Content-Type:
      - application/json
      X-Send-To-Many:
      - '0'
    status:
      code: 200
      message: OK
version: 1
